div.footer {
    font-size: small;
    color: gray;
    text-align: center;
}

div.body {
    width: 900px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

div.header {
    position: relative;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: firebrick;
}

.error {
    font-size: x-small;
    color: red;
}

a.homepage {
    color: white;
    font-size: 35px;
}

a.login {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

.flat-table {
    margin-bottom: 20px;
    border-collapse:collapse;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.flat-table th, .flat-table td {
    box-shadow: inset 0 -1px rgba(0,0,0,0.25),
    inset 0 1px rgba(0,0,0,0.25);
}
.flat-table th {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    padding: 1em;
    color: rgba(0,0,0,0.45);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-size: 1.5em;
}
.flat-table td {
    color: #f7f7f7;
    padding: 0.7em 1em 0.7em 1.15em;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    font-size: 1em;
}
.flat-table tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}
.flat-table-1 {
    background: #336ca6;
}
.flat-table-1 tr:hover {
    background: rgba(0,0,0,0.19);
}
.flat-table-2 tr:hover {
    background: rgba(0,0,0,0.1);
}
.flat-table-2 {
    background: #f06060;
}
.flat-table-3 {
    background: #52be7f;
}
.flat-table-3 tr:hover {
    background: rgba(0,0,0,0.1);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}